.error {
    background-color: #FFEBEE;

    &_title {
        font-weight: 400;
        font-size: 30px;
        margin-bottom: 10px;
        color: #333;

        @include breakpoint(sm) {
            font-size: 24px;
            line-height: 1.3;
        }
    }
}