.pagination {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__total {
        width: 100%;
        margin-top: 15px;
        color: #333;
        text-align: center;
    }
}