.starship-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &-item {
        width: 49%;

        &__title {
            font-size: 26px;
            color: #333;
            font-weight: 400;
        }

        &__subtitle {
            color: #727272;
            font-size: 14px;
            margin-top: 10px;
        }

        &__footer {
            padding-top: 5px;
            text-align: right;
        }
    }
}